/* UIKit v2 compatibility */

/* Round the button corners like uikit v2 */
button,
.uk-button {
    border-radius: 4px;
	text-decoration: none;
}
/* Add the mini button size deprecated in uikit v3 */
.uk-button-mini {
  min-height: 20px;
  padding: 0 6px;
  line-height: 18px;
  font-size: 11px;
}

.uk-button,
.uk-form-label {
    font-size: 1rem;
}
.uk-button-small {
	font-size: 0.875rem;
}
.uk-button-success {
	background-color: #82bb42;
    color: #FFF;
	font-weight: bold;
    border: 1px solid transparent;
}
.uk-button-success:hover,
.uk-button-success:focus {
    background-color: #8fce48;
	color: #FFF;
}
.uk-button-success:active {
	background-color: #76b430;
	color: #FFF;
}

.uk-button-mini {
  min-height: 20px;
  padding: 0 6px;
  line-height: 20px;
  font-size: 11px;
}

/* OnClick + Active */
/*.uk-button-primary:active,
.uk-button-primary.uk-active {
  background-color: #3A9150;
  color: #fff;
}*/

/* Round the subnav menu button similar to CMS theme */
.uk-subnav-pill > * > :first-child {
	border-radius: 4px;
}

/* Condense horizontal subnav menu a bit */
ul.uk-subnav > li {
	padding-left: 0px;
}
ul.uk-subnav > li:first-of-type {
	padding-left:20px;
}

.uk-navbar-nav > li > a,
header nav button,
.uk-navbar-item,
.uk-navbar-toggle {
    min-height: 40px;
}

/*.uk-input {
    width: inherit;
}*/

/* Darken inputs and other text. Light grey against white doesn't work well. */
.uk-input, .uk-select, .uk-textarea {
    color: #333;
    border: 1px solid #666;
}
.uk-table th {
    color: inherit;
}

/* social share */
.uk-button.uk-button-facebook,
.uk-icon-button.uk-button-facebook {
	background-color: #3b5998;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-google-plus,
.uk-icon-button.uk-button-google-plus {
	background-color: #dd4b39;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-twitter,
.uk-icon-button.uk-button-twitter {
	background-color: #55acee;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-vk {
	background-color: #537599;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-ok {
	background-color: #f2720c;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-livejournal {
	background-color: #000;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-mail-ru {
	background-color: #168de2;
	color: #f7aa21;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-linkedin,
.uk-icon-button.uk-button-linkedin,
.uk-button.uk-button-linkedin-square,
.uk-icon-button.uk-button-linkedin-square  {
	background-color: #0077b5;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-reddit,
.uk-icon-button.uk-button-reddit {
	background-color: #0077b5;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-envelope {
	background-color: #0077b5;
	color: #fff;
	background-image: none;
	text-shadow: none;
}

.uk-button.uk-button-print {
	background-color: #0077b5;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-pinterest {
	background-color: #dd4b39;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-pinterest-p,
.uk-icon-button.uk-button-pinterest-p {
	background-color: #dd4b39;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-youtube,
.uk-icon-button.uk-button-youtube {
	background-color: #000;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-github,
.uk-icon-button.uk-button-github {
	background-color: #323131;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-button.uk-button-github-alt,
.uk-icon-button.uk-button-github-alt {
	background-color: #323131;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-icon-button.uk-button-instagram {
	background-color: #2E5E86;
	color: #fff;
	background-image: none;
	text-shadow: none;
}

.uk-icon-button.uk-button-vimeo {
	background-color: #1AB7EA;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-icon-button.uk-button-flickr {
	background-color: #000;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-icon-button.uk-button-foursquare {
	background-color: #F94877;
	color: #fff;
	background-image: none;
	text-shadow: none;
}

.uk-icon-button.uk-button-yelp {
	background-color: #DB292F;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-icon-button.uk-button-dribbble {
	background-color: #C32361;
	color: #fff;
	background-image: none;
	text-shadow: none;
}
.uk-icon-button.uk-button-commenting-o {
	background-color: #8D94FD;
	color: #fff;
	background-image: none;
	text-shadow: none;
}

.uk-thumbnail {
  /* 1 */
  display: inline-block;
  /* 2 */
  max-width: 100%;
  /* 3 */
  box-sizing: border-box;
  /* 3 */
  margin: 0;
  /* 4 */
  padding: 4px;
  border: 1px solid #ddd;
  background: #fff;
}
/*
 * Hover state for `a` elements
 * 1. Apply hover style also to focus state
 * 2. Needed for caption
 * 3. Remove default focus style
 */
a.uk-thumbnail:hover,
a.uk-thumbnail:focus {
  border-color: #aaaaaa;
  background-color: #fff;
  /* 2 */
  text-decoration: none;
  /* 3 */
  outline: none;
}
/* Caption
 ========================================================================== */
.uk-thumbnail-caption {
  padding-top: 4px;
  text-align: center;
  color: #444;
}
/* Sizes
 ========================================================================== */
.uk-thumbnail-mini {
  width: 150px;
}
.uk-thumbnail-small {
  width: 200px;
}
.uk-thumbnail-medium {
  width: 300px;
}
.uk-thumbnail-large {
  width: 400px;
}

.uk-form-width-mini {
	width: 75px;
}
.uk-text-success,
.uk-alert-success {
	color: #659f13!important;
}

.uk-progress-danger::-ms-fill {
	background-color: #f0506e;
}

.uk-progress-danger::-moz-progress-bar{
  background-color: #f0506e;
}

.uk-progress-danger::-webkit-progress-value {
  background-color: #f0506e;
}

.uk-progress-success::-ms-fill {
  background-color: #32d296;
}

.uk-progress-success::-moz-progress-bar{
  background-color: #82bb42;
}

.uk-progress-success::-webkit-progress-value {
  background-color: #82bb42;
}

.uk-panel-box {
  padding: 15px;
  background: #f5f5f5;
}
.uk-panel-box-hover:hover {
  color: #444;
}
.uk-panel-box .uk-panel-title {
  color: #444;
}
.uk-panel-box .uk-panel-badge {
  top: 10px;
  right: 10px;
}
/*
 * Sub-modifier: `uk-panel-box-primary`
 */
.uk-panel-box-primary {
  background-color: #ebf7fd;
  color: #2d7091;
}
.uk-panel-box-primary-hover:hover {
  color: #2d7091;
}
.uk-panel-box-primary .uk-panel-title {
  color: #2d7091;
}
/*
 * Sub-modifier: `uk-panel-box-secondary`
 */
.uk-panel-box-secondary {
  background-color: #eee;
  color: #444;
}
.uk-panel-box-secondary-hover:hover {
  color: #444;
}
.uk-panel-box-secondary .uk-panel-title {
  color: #444;
}
.uk-form-help-inline {
  display: inline-block;
  margin: 0 10px 0 10px;
}
.uk-form-help-block {
  margin: 5px 0 0 0;
}

